<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admn.web.dao.TblEduExpMapper">
    <resultMap id="BaseResultMap" type="com.admn.web.model.TblEduExp">
        <result column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="START_TIME" jdbcType="VARCHAR" property="startTime"/>
        <result column="END_TIME" jdbcType="VARCHAR" property="endTime"/>
        <result column="DEGREE" jdbcType="VARCHAR" property="degree"/>
        <result column="PROFESSION" jdbcType="VARCHAR" property="profession"/>
        <result column="RESERVED1" jdbcType="VARCHAR" property="reserved1"/>
        <result column="RESERVED2" jdbcType="VARCHAR" property="reserved2"/>
        <result column="RESERVED3" jdbcType="VARCHAR" property="reserved3"/>
    </resultMap>
    <insert id="insert" parameterType="com.admn.web.model.TblEduExp">
    insert into TBL_EDU_EXP (USER_ID, START_TIME, END_TIME, 
      DEGREE, PROFESSION, RESERVED1, 
      RESERVED2, RESERVED3)
    values (#{userId,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, 
      #{degree,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, #{reserved1,jdbcType=VARCHAR}, 
      #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.admn.web.model.TblEduExp">
        insert into TBL_EDU_EXP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="degree != null">
                DEGREE,
            </if>
            <if test="profession != null">
                PROFESSION,
            </if>
            <if test="reserved1 != null">
                RESERVED1,
            </if>
            <if test="reserved2 != null">
                RESERVED2,
            </if>
            <if test="reserved3 != null">
                RESERVED3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                #{degree,jdbcType=VARCHAR},
            </if>
            <if test="profession != null">
                #{profession,jdbcType=VARCHAR},
            </if>
            <if test="reserved1 != null">
                #{reserved1,jdbcType=VARCHAR},
            </if>
            <if test="reserved2 != null">
                #{reserved2,jdbcType=VARCHAR},
            </if>
            <if test="reserved3 != null">
                #{reserved3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>