<#include "../_layout.html">
<@layout>
<head>
    <title>面试邀请</title>
</head>
<script type="text/javascript">
    $(function () {
        layui.use(['form', 'layer', 'table'], function () {
            var table = layui.table
                , layer = layui.layer;

            table.render({
                id: 'dataGrid'
                , elem: '#dataGrid'
                , url: '${ctx}/resume/dataGrid'
                , toolbar: '#toolbar'
                , height: 'full-200'
                , cellMinWidth: 80
                , cols: [[
                    {type:'radio'}
                    , {field: 'resumeId', title: '简历ID', width: 75, sort: true, hide: true}
                    , {field: 'userId', title: '用户ID', width: 75}
                    , {field: 'realName', title: '真实姓名', width: 100}
                    , {field: 'reserved2', title: '邀请状态', width: 100}
                    , {field: 'sex', title: '性别', width: 60}
                    , {field: 'birthday', title: '生日', width: 100}
                    , {field: 'userPhone', title: '电话号码', width: 150}
                    , {field: 'degree', title: '学历', width: 100}
                    , {field: 'marriage', title: '婚姻状况', width: 100}
                    , {field: 'area', title: '地区', width: 70}
                    , {field: 'position', title: '意向岗位', width: 100}
                    , {field: 'salaryType', title: '薪资类型', width: 80}
                    , {field: 'targetSalary', title: '目标薪资', width: 100}
                    , {field: 'workType', title: '工作类型', width: 100}
                    , {field: 'arrivalTime', title: '到岗时间', width: 100}
                    , {field: 'reserved1', title: '邮箱', width: 200}
                ]]
                , page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next']
                    , groups: 1
                }
                , request: {
                    pageName: 'currPage' //页码的参数名称，默认：page
                    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                , response: {
                    code: 'result' //数据状态的字段名称，默认：code
                    , count: 'totalCount' //数据总数的字段名称，默认：count
                }
                , method:'POST'
                , loading: true
                , limit: 10
                , done: function (res) {
                    $("[data-field='userStatus']").children().each(function(){
                        if($(this).text() === '00'){
                            $(this).text("正常");
                        }else if($(this).text() === '01'){
                            $(this).text("停用");
                        }
                    });
                    $("[data-field='userType']").children().each(function(){
                        if($(this).text() === '00'){
                            $(this).text("普通用户");
                        }else if($(this).text() === '01'){
                            $(this).text("VIP用户");
                        }
                    });
                    $("[data-field='birthday']").children().each(function(){
                        var str = $(this).text();
                        $(this).text(str.substr(0, 8));
                    });
                    $("[data-field='arrivalTime']").children().each(function(){
                        var str = $(this).text();
                        $(this).text(str.substr(0, 8));
                    });
                    $("[data-field='sex']").children().each(function(){
                        if($(this).text() === '01'){
                            $(this).text("女");
                        }else if($(this).text() === '00'){
                            $(this).text("男");
                        }
                    });
                    $("[data-field='marriage']").children().each(function(){
                        if($(this).text() === '00'){
                            $(this).text("未婚");
                        }else if($(this).text() === '01'){
                            $(this).text("已婚");
                        }
                    });
                    $("[data-field='salaryType']").children().each(function(){
                        if($(this).text() === '01'){
                            $(this).text("日薪");
                        }else if($(this).text() === '00'){
                            $(this).text("月薪");
                        }
                    });
                    $("[data-field='workType']").children().each(function(){
                        if($(this).text() === '00'){
                            $(this).text("全职");
                        }else if($(this).text() === '01'){
                            $(this).text("兼职");
                        }else if($(this).text() === '02'){
                            $(this).text("实习");
                        }
                    });
                    $("[data-field='reserved2']").children().each(function(){
                        if($(this).text() === '00'){
                            $(this).text("已邀请");
                        }
                    });

                }
            });

            table.on('toolbar(dataGrid)', function(obj){
                var position = $("#position").val();
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'view':
                        var data = checkStatus.data;
                        if (data.length === 0) {
                            layer.msg("请选中一条记录");
                            return;
                        }
                        layer.open({
                            title: "用户信息"
                            ,type: 2
                            ,icon: 1
                            ,content: '${ctx}/resume/resumeDetail?resumeId=' + data[0].resumeId
                            ,area: ['800px', '500px']
                            ,btn: ['关闭']
                            ,yes: function(index, layero){
                                layer.close(index);
                            }
                        });
                        break;
                    case 'invite':
                        var data = checkStatus.data;
                        if (data.length === 0) {
                            layer.msg("请选中一条记录");
                            return;
                        }
                        $.ajax({
                            url: '/resume/invite',
                            type: 'post',
                            dataType: 'json',
                            data: {
                                resumeId: data[0].resumeId,
                                status: '00'
                            },
                            success: function (result) {
                                console.log(result);
                                layer.msg(result.msg);
                            }
                        });
                        break;
                    case 'query':
                        table.reload('dataGrid', {
                            where: {
                                'position': position
                            }
                        });
                        break;
                }
            });
        });

    })
</script>
<body>
<#--操作按钮-->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="view">简历</button>
        <button class="layui-btn layui-btn-sm" lay-event="invite">邀请</button>
        <button class="layui-btn layui-btn-sm" lay-event="query">查询</button>
    </div>
</script>
<div class="layui-form" style="margin-top: 25px">
    <table>
        <tr>
            <td>
                <#--岗位名称position-->
                <div class="layui-form-item">
                    <label class="layui-form-label">岗位:</label>
                    <div class="layui-input-block">
                        <input id="position" name="position" type="text" placeholder="请输入岗位" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<#--查询结果-->
<div style="padding: 15px;">
    <table class="layui-hide" id="dataGrid" lay-filter="dataGrid"></table>
</div>
</body>
</@layout>