<#include "../_layout.html">
<@layout>
<head>
    <title>职位管理</title>
</head>
<script type="text/javascript">
    $(function () {
        layui.use(['form', 'layer', 'table'], function () {
            var table = layui.table
                , form = layui.form
                , layer = layui.layer;

            table.render({
                id: 'dataGrid'
                , elem: '#dataGrid'
                , url: '${ctx}/positionApp/dataGrid'
                , toolbar: '#toolbar'
                , height: 'full-200'
                , cellMinWidth: 80
                , cols: [[
                    {type:'radio'}
                    , {field: 'positionId', title: '职位ID', width: 100, sort: true}
                    , {field: 'userId', title: '用户ID', width: 100}
                    , {field: 'resumeId', title: '简历ID', width: 80}
                    , {field: 'positionName', title: '职位名称', width: 200}
                    , {field: 'realName', title: '真实姓名', width: 100}
                    , {field: 'status', title: '状态', width: 80}
                    , {field: 'appTime', title: '申请时间', width: 150}
                    , {field: 'processTime', title: '处理时间', width: 100}
                ]]
                , page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next']
                    , groups: 1
                }
                , request: {
                    pageName: 'currPage' //页码的参数名称，默认：page
                    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                , response: {
                    code: 'result' //数据状态的字段名称，默认：code
                    , count: 'totalCount' //数据总数的字段名称，默认：count
                }
                , method:'POST'
                , loading: true
                , limit: 10
                , done: function (res) {
                    $("[data-field='workDescription']").children().each(function(){
                        var str = $(this).text();
                        $(this).text(str.substr(0, 10));
                    });
                    $("[data-field='status']").children().each(function(){
                        if($(this).text() === '99'){
                            $(this).text("待处理")
                        }else if($(this).text() === '01'){
                            $(this).text("未通过")
                        }else if($(this).text() === '00'){
                            $(this).text("已通过")
                        }
                    });
                }
            });

            table.on('toolbar(dataGrid)', function(obj){
                var status = $("#status").val();
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'view':
                        var data = checkStatus.data;
                        if (data.length === 0) {
                            layer.msg("请选中一条记录");
                            return;
                        }
                        layer.open({
                            title: "职位信息"
                            ,type: 2
                            ,icon: 1
                            ,content: '${ctx}/position/resumeForm?userId=' /*+ data[0].userid*/
                            ,area: ['800px', '500px']
                            ,btn: ['关闭']
                            ,yes: function(index, layero){
                                layer.close(index);
                            }
                        });
                        break;
                    case 'freeze':
                        var data = checkStatus.data;
                        if (data.length === 0) {
                            layer.msg("请选中一条记录");
                            return;
                        }
                        break;
                    case 'recover':
                        break;
                    case 'query':
                        table.reload('dataGrid', {
                            where: {
                                'status': status
                            }
                        });
                        break;
                }
            });

        });
    })
</script>
<body>
<#--操作按钮-->
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="view">详细</button>
            <button class="layui-btn layui-btn-sm" lay-event="recover">处理</button>
            <button class="layui-btn layui-btn-sm" lay-event="query">查询</button>
        </div>
    </script>
<div class="layui-form" style="margin-top: 25px">
    <table>
        <tr>
            <td>
                <#--职位名-->
                <div class="layui-form-item">
                    <label class="layui-form-label">职位名</label>
                    <div class="layui-input-block">
                        <select id="status" name="status" lay-verify="required">
                            <option value="" selected="selected">请选择</option>
                            <option value="00">已通过</option>
                            <option value="99">待处理</option>
                            <option value="01">未通过</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<#--查询结果-->
<div style="padding: 15px;">
    <table class="layui-hide" id="dataGrid" lay-filter="dataGrid"></table>
</div>
</body>
</@layout>