<#assign ctx = request.getContextPath()>
<#macro layout title="小金山花卉管理控制台" version = "1.0">
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <script src="${ctx}/static/jquery-3.3.1.min.js"></script>
    <script src="${ctx}/static/layuiadmin/layui/layui.js"></script>
    </head>
<body>
    <#nested>
</body>
</html>
</#macro>