.invite-main {
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.invite-main .btn {
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}