server:
  port: 8090
  max-http-header-size: 8192

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://101.132.164.250:3306/recruit
    username: root
    password: 111111

  #freemarker
  freemarker:
    template-loader-path: classpath:/templates
    suffix: .html
    charset: UTF-8
    content-type: text/html
    enabled: true
    expose-request-attributes: true
    expose-session-attributes: true
    request-context-attribute: request
    allow-request-override: true
    allow-session-override: true

  mvc:
    static-path-pattern: /static/**
  resources:
    static-locations:
      classpath:/resources/,
      classpath:/static

mybatis:
  config-location: classpath:mybatis-config.xml
  mapper-locations: classpath:mybatis/*.xml
  type-aliases-package: com.admn.web.model

logging:
  config: classpath:logback.xml