<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div style="width:500px;float: right;margin:0 auto;" >
    <label for="username" style="font-size:18px" >用户名：</label>
    <div style="height:35px;width:400px;position:relative;display:inline" >   <!--相关位置--> <!--此处为相关位置与绝对位置联合使用-->
        <input id="username" type="text" style="height:30px;width:350px;padding-right:50px;">
        <span style="position:absolute;right:18px;top:2px;background-image:url(user.ico);height:16px;width:16px;display:inline-block;"></span>  <!--绝对位置-->
    </div>
    <br/>
    <br/>
    <label for="password1" style="font-size:18px" > 密码：</label>
    <div style="height:35px;width:400px;position:relative;display:inline" >   <!--相关位置--> <!--此处为相关位置与绝对位置联合使用-->
        <input id="password1" type="text" style="height:30px;width:350px;padding-right:50px;">
        <span style="position:absolute;right:16px;top:2px;background-image:url(p.ico);height:16px;width:16px;display:inline-block;"></span>  <!--绝对位置-->
    </div>

    <div style="width:426px;float: right;">
        <input type="submit" value="登录" style="height:30px;width:400px;background-color:red;"/>
    </div>
</div>

</body>
</html>
