<!DOCTYPE html>
<html lang="zh" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>招聘系统登录</title>
        <link rel="stylesheet" href="/static/css/login/reset.css">
        <link rel="stylesheet" href="/static/css/login/supersized.css">
        <link rel="stylesheet" href="/static/css/login/style.css">
        <script src="/static/js/jquery-1.8.2.min.js"></script>
        <script src="/static/js/supersized.3.2.7.min.js"></script>
        <script src="/static/js/supersized-init.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/layuiadmin/layui/layui.js"></script>

        <script type="text/javascript">

            function doLogin() {
                var username = $('#username').val();
                var password = $('#password').val();
                $.ajax({
                    url: '/login/doLogin',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        username: username,
                        password: password
                    },
                    success: function (result) {
                        if (!result.success) {
                            layer.msg(result.msg);
                        } else {
                            location.href = "/index";
                        }
                    }
                });
            }

            $(function () {
                layui.use(['form', 'layer', 'table'], function () {
                    var layer = layui.layer;
                });
            })
        </script>
    </head>
    <body>
        <div class="page-container">
            <h1>招聘系统管理控制台</h1>
            <form>
                <input type="text" id="username" name="username" class="username" placeholder="用户名">
                <input type="password" id="password" name="password" class="password" placeholder="请输入密码">
                <button id="loginBtn" type="button" onclick="doLogin()">登录</button>
                <div class="error"><span>+</span></div>
            </form>
        </div>
    </body>
</html>

