<#include "../_layout.html">
<@layout>
<head>
    <title>职位管理</title>
</head>
<script type="text/javascript">
    $(function () {
        layui.use(['form', 'layer', 'table'], function () {
            var table = layui.table
                , form = layui.form
                , layer = layui.layer;

            table.render({
                id: 'dataGrid'
                , elem: '#dataGrid'
                , url: '${ctx}/position/dataGrid'
                , toolbar: '#toolbar'
                , height: 'full-200'
                , cellMinWidth: 80
                , cols: [[
                    {type:'radio'}
                    , {field: 'positionId', title: '职位ID', width: 100, sort: true, hide:true}
                    , {field: 'positionName', title: '职位名', width: 100}
                    , {field: 'workType', title: '工作类型', width: 100}
                    , {field: 'salary', title: '薪资', width: 100}
                    , {field: 'salaryType', title: '薪资类型', width: 100}
                    , {field: 'eduRequirement', title: '教育要求', width: 100}
                    , {field: 'workRequirement', title: '工作要求', width: 150}
                    , {field: 'workArea', title: '工作地区', width: 100}
                    , {field: 'workDescription', title: '工作描述', width: 200}
                ]]
                , page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next']
                    , theme: '#A48566'
                    , groups: 1
                }
                , request: {
                    pageName: 'currPage' //页码的参数名称，默认：page
                    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                , response: {
                    code: 'result' //数据状态的字段名称，默认：code
                    , count: 'totalCount' //数据总数的字段名称，默认：count
                }
                , method:'POST'
                , loading: true
                , limit: 10
                , done: function (res) {
                    $("[data-field='workDescription']").children().each(function(){
                        var str = $(this).text();
                        $(this).text(str.substr(0, 10));
                    });
                    $("[data-field='workType']").children().each(function(){
                        if($(this).text() === '00'){
                            $(this).text("全职");
                        }else if($(this).text() === '01'){
                            $(this).text("兼职");
                        }else if($(this).text() === '02'){
                            $(this).text("实习");
                        }
                    });
                    $("[data-field='salaryType']").children().each(function(){
                        if($(this).text() === '01'){
                            $(this).text("日薪");
                        }else if($(this).text() === '00'){
                            $(this).text("月薪");
                        }
                    });
                }
            });

            table.on('toolbar(dataGrid)', function(obj){
                var positionName = $("#positionName").val();
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'add':
                        layer.open({
                            title: "职位信息"
                            ,type: 2
                            ,icon: 1
                            ,content: '${ctx}/position/positionForm'
                            ,area: ['800px', '400px']
                            ,cancel: function(index){
                                table.reload('dataGrid', {
                                    where: {
                                        'positionName': positionName
                                    }
                                });
                                layer.close(index);
                            }
                        });
                        break;
                    case 'edit':
                        var data = checkStatus.data;
                        if (data.length === 0) {
                            layer.msg("请选中一条记录");
                            return;
                        }
                        layer.open({
                            title: "职位信息"
                            ,type: 2
                            ,icon: 1
                            ,content: '${ctx}/position/positionForm?positionId=' + data[0].positionId
                            ,area: ['800px', '400px']
                            ,cancel: function (index) {
                                table.reload('dataGrid', {
                                    where: {
                                        'positionName': positionName
                                    }
                                });
                                layer.close(index);
                            }
                        });
                        break;
                    case 'del':
                        var data = checkStatus.data;
                        if (data.length === 0) {
                            layer.msg("请选中一条记录");
                            return;
                        }
                        $.ajax({
                            url: '${ctx}/position/delPosition',
                            type: 'post',
                            dataType: 'json',
                            data: {
                                positionId: data[0].positionId
                            },
                            success: function (result) {
                                layer.msg(result.msg);
                                table.reload('dataGrid', {
                                    where: {
                                        'positionName': positionName
                                    }
                                });
                            }
                        });
                        break;
                    case 'query':
                        table.reload('dataGrid', {
                            where: {
                                'positionName': positionName
                            }
                        });
                        break;
                }
            });

        });
    })
</script>
<body>
<#--操作按钮-->
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" style="background-color: #A48566" lay-event="add">新增</button>
            <button class="layui-btn layui-btn-sm" style="background-color: #A48566" lay-event="edit">编辑</button>
            <button class="layui-btn layui-btn-sm" style="background-color: #A48566" lay-event="del">删除</button>
            <button class="layui-btn layui-btn-sm" style="background-color: #A48566" lay-event="query">查询</button>
        </div>
    </script>
<div class="layui-form" style="margin-top: 25px">
    <table>
        <tr>
            <td>
                <#--职位名-->
                <div class="layui-form-item">
                    <label class="layui-form-label">职位名</label>
                    <div class="layui-input-block">
                        <input id="positionName" name="positionName" type="text" placeholder="请输入职位名" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<#--查询结果-->
<div style="padding: 15px;">
    <table class="layui-hide" id="dataGrid" lay-filter="dataGrid"></table>
</div>
</body>
</@layout>